@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */

:root {
  /* Defaults, ignore this section */
  /* vars */
  --sans: Helvetica, Arial, sans-serif;
  --serif: Georgia, Times, serif;
  --mono: "Courier New", monospace;

  /* presets */
  --border-radius: 4px;
  --font-body: var(--serif);
  --font-form: var(--sans);
  --color-bg: var(--color-white);
  --color-fg: var(--color-gray-900);
  --color-placeholder: var(--color-700);
  --color-link: var(--color-purple);
  --color-focus: var(--color-red);
  --color-form-bg: var(--color-gray-700);
  --color-form-fg: var(--color-gray-900);
  --color-border: var(--color-gray-300);
  --color-selection: var(--color-gray-300);
  --color-highlight: var(--color-yellow);
}

/* Site specific  */
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.005em;
  color: var(--color-c4);
  box-sizing: content-box;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
  font-size: 48.83px;
  line-height: 59px;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 39.06px;
  line-height: 107.19%;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 38px;
  margin: 0;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

h5 {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.005em;
  margin: 0;
}

a {
  text-decoration: none;
}

p:first-of-type {
  margin-top: 2em;
}
p:last-of-type {
  margin-bottom: 3em;
}

.body-lg {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.body-lg-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 133%;
}

.body-rg {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.body-sm {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 133%;
}

.body-rg-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
}

.shadow {
  box-shadow: -1px 4px 16px rgba(0, 0, 0, 0.2);
}

.col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.filters-cta {
  font-weight: 400;
  font-size: 12.8px;
  text-transform: uppercase;
  line-height: 133%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    line-height: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
    line-height: 1.33;
  }

  .body-lg {
    font-size: 16px;
  }

  .body-lg-link {
    font-size: 16px;
  }

  .body-rg {
    font-size: 14px;
  }

  .body-rg-link {
    font-size: 14px;
  }
}
